body {
  background-color: #2a3235;
}

@font-face { font-family: 'Scada';
             font-weight: bold;
             src: url('/fonts/scada/Scada-Bold.ttf');
           }
@font-face { font-family: 'Scada-Regular';
             src: url('/fonts/scada/Scada-Regular.ttf');
           }
.title {
  font-family: 'Scada', Fallback, sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 5vw;
  color: #009ac8;
  }
.contacts {
  font-family: 'Scada-Regular', Fallback, sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 3vw;
  color: #009ac8;
}
a:link {
  color: #009ac8;
  text-decoration: underline;
  text-decoration-color: #cccccc;
}

footer.page-footer {
  height: 4em;
  background-color: #446d8c !important;
  border-top:3px solid #cccccc;
  min-height: 0;
  z-index: 2;
  width:100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}
footer-copyright {
 
}
